.container {   
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: 5em;
}

@media (max-width: 641px) {
    .container {
        flex-direction: row;
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
