@inherits LayoutComponentBase

<PageTitle>EmployeeDetails</PageTitle>

<header>
    <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
    @*<article class="content px-4">
        @Body
    </article>*@
</div>


