@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using EmployeeDetails.Data
@inject WeatherForecastService ForecastService
@inject EmployeePropertiesService EmployeesService
@inject HttpClient http


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Position</td>
                    <td>@employee.Skills</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<EmployeeProperties> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await http.GetFromJsonAsync<IEnumerable<EmployeeProperties>>("https://developinterviewstorage.blob.core.windows.net/developinterviewcont/Employees.json");
    }
}
