@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using EmployeeDetails.Data
@inject WeatherForecastService ForecastService
@inject EmployeePropertiesService EmployeesService
@inject HttpClient http

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in result)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Position</td>
                    <td>@employee.Skills</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string url = "https://developinterviewstorage.blob.core.windows.net/developinterviewcont/Employees.json";
    private IEnumerable<EmployeeProperties> employees;
    private IEnumerable<EmployeeProperties> result;
    private string empPosition = "";
    //List<EmployeeFields> employees = new List<EmployeeFields>();

    [Parameter]
    public string employeePosition { get; set; } = "";

    private void setEmployeePosition()
    {
        empPosition = employeePosition;
    }

    protected override async Task OnInitializedAsync()
    {
        employees = await http.GetFromJsonAsync<IEnumerable<EmployeeProperties>>(url);
        result = employees.Where(empl => empl.Position == $"{employeePosition}");
    }
}
