@page "/"
@page "/Home" 

<PageTitle>Home</PageTitle>

<h2>Please select the employee area type you wish to view</h2>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
